/* selector {
    property1: value;
    property2: value, value, value;
}
*/

* {
    margin: 0; padding: 0; border: 0; box-sizing: border-box;
}

body {
    background-color: #D3D3D3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 10px solid #16DB93; */
    /* padding: 1em; */
}

h1 {

}

h2 {

}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:2% 0 0 2%;
}

h4 {
    padding:2%;
}

h5 {
    padding:2% 0 4% 2%;
    color:#fff;
    text-decoration: underline;
    font-size:16pt;
}

a {
    color: #0000A0;
    font-size: 110%;
    text-decoration: underline;
}

a:hover {
    color: #800080;
    font-size: 110%;
    text-decoration: underline;
}

ul {
    margin-left: 1em;
    margin: 2em;
}

ul li {
    padding-bottom:2%;
    list-style-type: none;
}

.weekly-header {
    margin:2% 0 0 2%;
}

.body-para {
    margin:2%;
}

#body-container {
    margin:2%;
}

.sec-containers {
    border:1px solid #222;
    margin:2%;
    padding:2%;
    overflow: hidden;
}

.numberReturn {
    font-size: 48pt;
    margin: 58% 0% 0 200%;
}

.numberReturnBitwise {
    font-size: 48pt;
    margin: 128% 0% 0 400%;
}

.codeSnip {
    font-family: 'Courier New', Courier, monospace;
    margin:2% 0 0 0;
    color:#222;
}

#user-pass {
    border:1px solid #222;
    margin:2% 2% 2% 2%;
    padding:2%;
}

input[type=text], input[type=password] {
    font-size: 1.3em;
    border: 1px solid #222;
    box-shadow: 2px 2px 2px #222;
    min-width: 140px;
    min-height: 40px;
}

#profile-pic {
    width:10%;
    height:auto;
    margin:0 0 2% 2%;
    border:1px solid #fff;
}

#header {
    width:100%;
    height:auto;
    background-color:#222;
    margin:0;
    padding:0;
}

#page-header {
    text-align: right;
    padding:2% 2% 0 0;
    color:#fff;
}

#index-body-header {
    background-color: #696969;
}

#index-body-header h2 {
    color:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:lighter;
    padding:2% 0 2% 2%;
}

.numDisplay {
    font-size: 24pt;
    border:1px solid #222;
    height:50px;
    text-align: center;
    width:6%;
    margin-left:4%;
}

.dog {
    width:400px;
    height:400px;
}

#num-left {
    /*background-color: red;*/
    float:left;
    width:49%;
    margin-right:2%;
}

#num-left p {
    padding:2%;
}

#num-right p {
    padding:2%;
}

#num-right {
    /*background-color: blue;*/
    float:left;
    width:49%;
}

.leftContent {
    float:left;
}

.rightReturn {
    float:left;
}

.rightContent {
    float:left;
    margin:0 0 0 4%;
}

.rightContent p {
    padding:0 0 12% 0;
}

#rover {
    float:left;
}

#contain-div {
    float:left;
    margin-right:2%;
}

.woofs {
    margin-bottom:2%;
}
.woof-box {
    height:50px;
}

#dog-wrapper {
    margin-bottom:50px;
    overflow:hidden;
}

.question {
    padding: 1%;
}

.answer {
    background-color: green;
    padding: 1% 0 1% 4%;
    clear:both;
}

.button-show {
    margin:0;
    padding:1%;
}

#nav-result {
    float:left;
    font-size: 24pt;
    margin:2% 0 0 0;
}

#nav-result-2 {
    float:left;
    font-size: 24pt;
    margin:2% 0 0 0;
}

#nav-result-3 {
    float:left;
    font-size: 24pt;
    margin:2% 0 0 0;
}

#nav-button {
    float:left;
}

#nav-button-2 {
    float:left;
}

#nav-button-3 {
    float:left;
}

#win-result {
    float:left;
    font-size: 24pt;
    margin:2% 0 0 0;
}

#win-result-2 {
    float:left;
    font-size: 24pt;
    margin:2% 0 0 0;
}

#win-result-3 {
    float:left;
    font-size: 24pt;
    margin:2% 0 0 0;
}

#win-button {
    float:left;
}

#win-button-2 {
    float:left;
}

#win-button-3 {
    float:left;
}

#scr-result {
    float:left;
    font-size: 24pt;
    margin:2% 0 0 0;
}

#scr-result-2 {
    float:left;
    font-size: 24pt;
    margin:2% 0 0 0;
}

#scr-result-3 {
    float:left;
    font-size: 24pt;
    margin:2% 0 0 0;
}

#scr-button {
    float:left;
}

#scr-button-2 {
    float:left;
}

#scr-button-3 {
    float:left;
}

#rectangle {
    background-color:red;
    width:50px;
    height:50px;
}

#circle {
    background-color:blue;
    width:50px;
    height:50px;
    border-radius: 50%;
}

#color_picker {
    background-color:transparent;
    width:100%;
    height:100px;
    overflow:hidden;
    display:block;
    margin:0px auto;
}
    #white {
        background-color: white;
        width:20%;
        height:100px;
        float:left;
        
    }
    #white:hover {
        width:20%;
        height:100px;
        float:left;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
    }

        #white_tire_one {
            width:100%;
            height:258px;
            background-image: url("../images/tire_two.jpg");
            background-size: contain;
            background-repeat:no-repeat;
            background-position: center;
            
        }

            #white_tire_one:hover {
                width:100%;
                height:258px;
                background-image: url("../images/tire_two.jpg");
                background-size: contain;
                background-repeat:no-repeat;
                background-position: center;
                -moz-box-shadow:    inset 0 0 10px #000000;
                -webkit-box-shadow: inset 0 0 10px #000000;
                box-shadow:         inset 0 0 10px #000000;
                
            }

        #white_tire_two {
            width:100%;
            height:258px;
            background-image: url("../images/tire_one.jpg");
            background-size: contain;
            background-repeat:no-repeat;
            background-position: center;
        }

            #white_tire_two:hover {
                width:100%;
                height:258px;
                background-image: url("../images/tire_one.jpg");
                background-size: contain;
                background-repeat:no-repeat;
                background-position: center;
                -moz-box-shadow:    inset 0 0 10px #000000;
                -webkit-box-shadow: inset 0 0 10px #000000;
                box-shadow:         inset 0 0 10px #000000;
            }

    #black {
        background-color: #222;
        width:20%;
        height:100px;
        float:left;
        
    }
    #black:hover {
        width:20%;
        height:100px;
        float:left;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
    }
    #dark_gray {
        background-color: #43464B;
        width:20%;
        height:100px;
        float:left;
    }
    #dark_gray:hover {
        width:20%;
        height:100px;
        float:left;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
    }
    #blue {
        background-color: blue;
        width:20%;
        height:100px;
        float:left;
    }
    #blue:hover {
        width:20%;
        height:100px;
        float:left;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
    }
    #red {
        background-color: red;
        width:20%;
        height:100px;
        float:left;
    }
    #red:hover {
        width:20%;
        height:100px;
        float:left;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
    }

#int_total {
    margin:2% 0 6% 2%;
    color:#fff;
}

#calc_summary {
    width:20%;
    height:617px;
    background-color:#222;
    float:left;
    border-top:1px solid #fff;
    border-left:1px solid #fff;
    border-bottom:1px solid #fff;
}

    #user_input_container {


    }

#buyBtn {
    width:86%;

}

.form-sections {
    width:100%;
    background-color: #f0ead6;
    overflow: hidden;
}

#quantity-form {
    margin:0% 0 4% 12%;
}

#select-form {
    margin:4% 0 4% 12%;
    padding:2% 0 2% 4%;
}

.select-option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}

#color {
    margin:2% 0 6% 2%;
    color:#fff;
}

#tire {
    margin:2% 0 6% 2%;
    color:#fff;
}

#total {
    margin:2% 0 6% 2%;
    color:#fff;
}

#color_calc_container {
    width:60%;
    height:617px;
    background-color:transparent;
    float:left;
    border-bottom:1px solid #222;
}

#tire_picker {
    width:20%;
    height:617px;
    background-color:white;
    float:left;
    border-left:1px solid #222;
    border-bottom:1px solid #222;
    border-right:1px solid #222;
}

#car_container {
    background-color:transparent;
    width:100%;
    height:auto;
    display:block;
    margin:0px auto;
}

.model_s_img_mods {
    width:100%;
    height:auto;
}

#findP {
    margin-top:2%;
}

#string-table {
    border-collapse: collapse;
}

.small {
    border: 1px solid;
    margin:0;
    padding:1%;
    overflow:hidden;
    background-color: #000080;
    width:5%;
    color:#fff;
}

.medium {
    border: 1px solid;
    margin:0;
    padding:1%;
    overflow:hidden;
    background-color: #000080;
    width:15%;
    color:#fff;
}

.medium-large {
    border: 1px solid;
    margin:0;
    padding:1%;
    overflow:hidden;
    background-color: #000080;
    width:30%;
    color:#fff;
}

.large {
    border: 1px solid;
    margin:0;
    padding:1%;
    overflow:hidden;
    background-color: #000080;
    width:35%;
    color:#fff;
}

#string-table td{
    border: 1px solid;
    margin:0;
    padding:1%;
    background-color: #fff;
    color:#222;
}